<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--Links-->
    <%- include('partials/links')%>
</head>
<body>
    <div class="container">
        <!--HEADING-->
        <%- include('partials/heading')%>
        <div class="content-home">
            <div class="inserts">
                <h2>Name</h2>
                <input type="text" class="name input">
                <h2>Age</h2>
                <input type="text" class="age input">
                <h2>Email</h2>
                <input type="text" class="email input">
            </div>
            <button class="btn">
                Send Data
            </button>
        </div>
    </div>
    <script src="js/send.js"></script>
</body>
</html>